// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#r-table{
	border-style: dotted;
	border-width: 1px;
}

table th {
	text-align: 	left;
	border-style:	dashed;
	border-width:	1px;

}